---
dependency:
  name: galaxy

driver:
  name: podman

provisioner:
  name: ansible

verifier:
  name: ansible

platforms:
  - name: instance
    image: quay.io/ansible-community/test-image:debian-13-trixie
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
