---
name: CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 6 * * *"

concurrency:
  group: >-
    ${{ github.workflow }}-${{
      github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: true

jobs:
  sanity:
    name: Sanity
    runs-on: ubuntu-latest
    steps:
      - name: Perform sanity testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: stable-2.20
          testing-type: sanity
          pull-request-change-detection: false

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core molecule molecule-plugins[podman]

      - name: Install collection
        run: |
          mkdir -p ~/.ansible/collections/ansible_collections/{{ namespace }}
          ln -s $GITHUB_WORKSPACE ~/.ansible/collections/ansible_collections/{{ namespace }}/{{ collection_name }}

      - name: Run Molecule tests
        run: molecule test --all

  check:
    if: always()
    needs:
      - sanity
      - molecule
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
